@import url('https://fonts.googleapis.com/css2?family=Abel&family=Agdasima:wght@400;700&family=Alata&family=Alfa+Slab+One&family=Anton&family=Average&family=Catamaran:wght@100..900&family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jaro:opsz@6..72&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Share+Tech+Mono&family=VT323&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: white;
    --secondary-bg-color: hsl(240, 26%, 97%);
    --thin-border-color: #e5e7eb;
    --thin-border-color-2nd: hsl(220, 13%, 93%);
    --dim-font-color: #6B7280;
    --dim-font-color-2nd: #9ca3af;
    --notification-icon-bg-color: #dbeafe;
    --main-font-family: "Geist", sans-serif;
}

body {
    background-color: var(--secondary-bg-color);
    font-family: var(--main-font-family);
}

/* ======= aside ======== */

aside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

aside img {
    object-fit: cover;
}

/* ===== MAIN ======== */

/* ----- common styles for multiple unrelated components ----- */

.h2 {
    font-size: 1.125rem;
    margin-bottom: .75rem;
    font-weight: 500;
}

.time {
    font-size: .75rem;
    color: var(--dim-font-color-2nd);
}

.medium-text {
    color: var(--dim-font-color);
    font-size: 1rem;
}

.meta-container {
    display: flex;
    gap: .75rem;
}

.meta {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: .875rem;
    color: var(--dim-font-color);
}

.meta-icon {
    width: 1rem;
    height: 1rem;
}

/* ----------------------- */

section.main-section {
    display: flex;
    justify-content: center;
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}